.btn {
  border: 1px solid $color-btn;
  outline: none;
  background: $color-btn;
  padding: 10px;
  cursor: pointer;
  @include transition();

  @include on-event() {
    background: $color-white;
  }
}