<template>
    <div class="home">
        <div class="content">
            <div class="home__search">
                <Search :search-str="searchStr" @set-str="setStr"/>
            </div>
            <div class="home__table">
                <TvTable
                        v-if="showsList.length > 0"
                        :shows-list="showsList"
                        :sort="sort"
                />
            </div>
            <template v-if="loader">
                <Loader :is-show="loader"/>
            </template>
        </div>
    </div>


</template>

<script>
    import Axios from 'axios'

    import Search from './Search'
    import TvTable from './TvTable'
    import Loader from './Loader'

    export default {
        name: "Home",
        components: {Search, TvTable, Loader},
        data() {
            return {
                searchStr: 'girl',
                showsList: [],
                loader: false,
                descending: false,
            }

        },
        mounted() {
            this.getShowList();
        },
        created() {

        },
        methods: {
            setStr(str) {
                this.searchStr = str;
            },
            getShowList() {
                this.loader = true;
                const url = `http://api.tvmaze.com/search/shows?q=${this.searchStr}`;
                Axios.get(url)
                    .then(res => {
                        this.showsList = [...res.data];
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(() => {
                        setTimeout(() => this.loader = false, 300);
                    })
            },
            sort(param) {
                let p = [];
                switch (param) {
                    case 'name':
                        p = ['show', 'name'];
                        break;
                    case 'rating':
                        p = ['show', 'rating', 'average'];
                        break;
                    default:
                        p = [];
                }

                this.showsList.sort((first, second) => {
                    const a = p.reduce((prev, el) => prev[el], first);
                    const b = p.reduce((prev, el) => prev[el], second);

                    if (a > b) return this.descending ? -1 : 1;
                    if (a < b) return this.descending ? 1 : -1;
                    return 0;
                });

                this.descending = !this.descending;
            },

        },
        watch: {
            searchStr() {
                this.getShowList();
            }
        }
    }
</script>

<style lang="scss">
    .home {
        padding: 10px;
    }

</style>