<template>
  <div class="loader">
    <div v-if="isShow" class="loader__wrapper">
      <img src="../assets/Spin-1s-200px.svg" alt=""/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Loader',
  props: {
    isShow: Boolean
  }
}
</script>

<style lang="scss">

  .loader__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
    }
  }

</style>
