<template>
  <div class="rating">
    <template v-if="rating.average">
      {{rating.average}}
    </template>
    <template v-else>-</template>

  </div>
</template>

<script>
export default {
  name: 'Rating',
  props: {
    rating: Object
  }
}
</script>
