<template>
    <div class="search">
        <label class="search__input">
            <input
                class="input"
                type="text"
                v-model="inputStr"
                v-on:keyup.enter="sendStr"
            />
        </label>
        <button
            class="search__btn btn"
            v-on:click="sendStr"
        >
            Search
        </button>
    </div>
</template>

<script>
    export default {
        name: 'Search',
        props: {
            searchStr: String
        },
        data() {
            return {
                inputStr: '',
            }
        },
        created() {
            this.inputStr = this.searchStr;
        },
        methods: {
          sendStr() {
            this.$emit('set-str', this.inputStr);
          }
        }
    }
</script>

<style lang="scss">
    .search {
        padding: 10px 0;
        display: flex;
    }

    .search__input {
        flex: 1 1 100%;
        max-width: 400px;
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: $color-btn;
            transform: scale(0);
            position: absolute;
            left: 0;
            bottom: 1px;
            @include transition();
        }

        @include on-event() {
            &:after {
                transform: scale(1);
            }
        }

        input {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
        }
    }

    .search__btn {
        flex: 0 0 70px;
    }

</style>
