<template>
    <div class="table">
        <table>
            <thead>
            <tr>
                <th class="table__accent" @click="() => this.sort('name')">Show name</th>
                <th>Language</th>
                <th>Genres</th>
                <th>The status of the show</th>
                <th class="table__accent" @click="() => this.sort('rating')">Rating</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="el in showsList" :key="el.show.id">
                <td>{{el.show.name}}</td>
                <td>{{el.show.language}}</td>
                <td v-if="el.show.genres.length !== 0">
                  <span class="table__genre" v-for="genre in el.show.genres" :key="genre">
                    {{genre}}
                  </span>
                </td>
                <td v-else>-</td>
                <td>{{el.show.status}}</td>
                <td>
                    <Rating :rating="el.show.rating"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import Rating from './Rating'

    export default {
        name: 'TvTable',
        components: {Rating},
        props: {
            showsList: Array,
            sort: Function,
        }
    }
</script>

<style lang="scss">
    .table {
      overflow: auto;

        table {
            display: flex;
        }

        tr {
            display: block;
        }

        th, td {
            display: block;
            white-space: nowrap;
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid $color-border;
        }

        thead {
            th {
                font-weight: 700;
                background: $color-bg;
                border-right: 1px solid $color-border;
            }
        }

        tbody {
            display: flex;

            & tr:nth-child(even) {
                background: $color-bg;
            }
        }

      @include media('>tablet') {
        table {
          display: table;
        }

        thead {
          th {
            border-right: none;
            vertical-align: middle;
          }
        }

        tr {
          display: table-row;
        }

        th, td {
          display: table-cell;
          white-space: normal;
        }

        tbody {
          display: table-row-group;
        }
      }
    }

  .table__accent {
    cursor: pointer;
  }

</style>
